body {
	text-align: center;
	background-color: #9CC8E6;
}

#loginDIV {
    margin-top: 20%;
}

#logoDIV {
    top: 65%;
    left: 10%;
    position: absolute;
    z-index: -1;
}

#logoIMAGE {
    opacity: .5;
}

#errorDIV {
  position: absolute;
  bottom: 0;
}

#errorP {
  width: 100%;
  color: #800000;
}

#buttonDIV {
	margin-left: 73%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#button {
	font-weight: 900;
    	opacity: .7;
	color: #9CC8E6;
	width: 50px;
	height: 50px;
	background-color: white;
	display: table-cell;
	vertical-align: middle;
	border-radius: 25px;
	text-decoration: none;
}

/*
#button:hover {
    opacity: 1;
	background-color: #588EBC;
	box-shadow: .5px .5px 1px white;
}
*/

input {
	width: 80%;
	color: GRAY;
	border-radius: 5px;
	border: none;
	height: 30px;
	padding: 5px;
	box-shadow: 1px 1px 10px gray;
}

p {
	font-weight: 900;
	margin-left: 10%;
	color: white;
	text-align: left;
}


.alert-box {
  width: 70%;
  box-shadow: .5px .5px 5px white;
  position: absolute;
  bottom: 5px;
  color:#555;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
  padding:10px 10px 10px 36px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.0;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('/view/rsc/images/error_icon.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}


